<div class="block">
    <h1>For Developers</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in congue felis, non aliquam felis. Nullam tellus
        libero, commodo at gravida vel, condimentum ut elit. In luctus nisi risus, in faucibus nibh scelerisque vitae.
        In blandit pharetra est, ac mollis felis interdum vitae. Quisque tempor, nisi ut sollicitudin auctor, nunc orci
        accumsan tellus, et vulputate nulla urna non tellus. Mauris tempus mi quis luctus blandit. Curabitur eget velit
        imperdiet, gravida diam ut, pharetra tortor. Vestibulum non neque in dolor suscipit fringilla ac non ipsum.
        Fusce id feugiat dui, id sollicitudin augue.

        <br/><br/>

        Vivamus porttitor accumsan mauris quis lobortis. Cras sed felis quis nibh eleifend accumsan. Aenean sit amet
        posuere nulla. Nulla vitae venenatis erat, ut rutrum sapien. Nunc lacus quam, consequat vel dapibus ut, euismod
        et ipsum. Sed congue molestie massa, eget cursus augue feugiat sed. Suspendisse laoreet viverra ante non sagittis.
    </p>
</div>