<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">index</a>
            <a href="{{ url 'signals' }}">signals</a>
            <a href="{{ url 'signal' }}23235235">signal</a>
            <a href="{{ url 'add-signal' }}">add-signal</a>
            <a href="{{ url 'users' }}">users</a>
            <a href="{{ url 'user' }}52f4df1a3288e277c803fc49">user with id:52f4df1a3288e277c803fc49</a>
            <a href="{{ url 'register-user' }}">register</a>

            {{#if user }}
                {{ user.name }} ({{ user.email }}) <a href="{{ url 'logout' }}" class="button">logout</a>
            {{/if}}
        </nav>
    </header>

    <wrapper>
        {{{body}}}
    </wrapper>

    <footer>
        <nav>
            <a href="{{ url 'faq' }}">faq</a>
            <a href="{{ url 'about' }}">about</a>
            <a href="{{ url 'contacts' }}">contacts</a>
            <a href="{{ url 'for-developers' }}">for developers</a>
            <a href="{{ url 'for-authorities' }}">for authorities</a>
        </nav>
    </footer>
</body>

</html>