<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <nav>
        <a href="/">index</a>
        <a href="{{ url 'signals' }}">signals</a>
        <a href="{{ url 'signal' }}23235235">signal</a>
        <a href="{{ url 'add-signal' }}">add-signal</a>
        <a href="{{ url 'users' }}">users</a>
        <a href="{{ url 'user' }}2415251">aleksandrenko(user page)</a>
        <a href="{{ url 'register-user' }}">register</a>
    </nav>

    {{{body}}}

    <nav>
        <a href="{{ url 'faq' }}">faq</a>
        <a href="{{ url 'about' }}">about</a>
        <a href="{{ url 'contacts' }}">contacts</a>
        <a href="{{ url 'for-developers' }}">for developers</a>
        <a href="{{ url 'for-authorities' }}">for authorities</a>
    </nav>
</body>

</html>