{{ id }}


<div class="block">Плачковица, София България</div>

<div class="block">
    <div style="float: left;">
        <h1>Неработещ светофар (12.01.2014)</h1>
        Open / Acknowledged / Closed
    </div>

    <div style="float: right;">
        <span>12 Votes</span>
        <button>Vote UP^</button>

        <span>0 Thanks</span>
        <button>Thanks</button>
    </div>
    <div class="clear"></div>

    <hr/>

    <div style="float: right; width: 600px; height: 300px; background: #eee">MAP & MARKER</div>

    <div>
        <img src="#" style="background: #eee;" width="390" height="270">
        <div>Плачковица 1а, София - address</div>

        <br/>

        <img src="#" alt="" style="background: #eee;" width="50" height="50" />
        сигнализирано от <a href="{{ url 'user' }}52f4df1a3288e277c803fc49"> Anton T.</a>

        <br/>

        <p>DESCRIPTION No description provided.</p>

        <br/><br/>

        <button>Flag</button>

        <br/><br/>

        share: facebook, tweeter, g+

        <br/><br/>

        <hr/>

        <b>1 COMMENT</b>
        <hr/>

        <div>
            <img src="#" alt="" style="background: #eee; float: left; margin-right: 10px;" height="50" width="50" />
            <b><a href="{{ url 'user' }}52f4df1a3288e277c803fc49">Username</a></b>
            <p>City of Malden assigned this issue to Malden DPW</p>
            4 minutes ago · <a href="#">Flag</a>
        </div>

        <div class="clear"></div>
        <br/>

        <div>
            <img src="#" alt="" style="background: #eee; float: left; margin-right: 10px; margin-bottom: 200px" height="50" width="50" />
            <b><a href="{{ url 'user' }}52f4df1a3288e277c803fc49">Username</a></b>
            <br/>
            <img src="#" alt="attached photo" width="350" height="180" style="background: #eee;" />
            <p>City of Malden assigned this issue to Malden DPW</p>
            4 minutes ago · <a href="#">Flag</a>
        </div>

        <div class="clear"></div>
        <hr/>

        <br/>
        <b>Add new comment</b>
        <br/>
        <textarea name="" id="" cols="70" rows="10"></textarea>
        <br/>

        Attach: <a href="#">photo</a>
        <br/>

        <b>I want to...</b><br/>
        <label><input type="radio" name="action" value="do-nothing" checked /> Leave this issue Open</label><br/>
        <label><input type="radio" name="action" value="do-nothing" /> Close this issue</label>
        <br/><br/>
        <button>Comment</button>
        <br/><br/>
    </div>
</div>