
{{#extend "header"}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
    var map;
    function initialize() {
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng({{ signal.location.lat }}, {{ signal.location.lng }})
        };
        map = new google.maps.Map(document.getElementById('map'),
                mapOptions);

        var marker = new google.maps.Marker({
            position: map.getCenter(),
            map: map,
            draggable: false
        });

        google.maps.event.addListener(
                marker,
                'drag',
                function() {
                    document.getElementById('latInput').value = marker.position.lat().toFixed(8);
                    document.getElementById('lngInput').value = marker.position.lng().toFixed(8);
                }
        );

    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
{{/extend}}


<div class="block">Плачковица, София България</div>

        {{ signal }}

<div class="block">
    <div style="float: left;">
        <h1>{{ signal.type }} ({{ signal.created }})</h1>
        status: {{ signal.status }}
        <br/>
        Open / Acknowledged / Closed
    </div>

    <div style="float: right;">
        <span>{{ signal.votes.length }} Votes</span>
        {{#if user }}
        <form action="/signals/{{ signal._id }}/voteup" method="post">
            <button>Vote UP^</button>
        </form>
        {{/if}}

        <span>{{ signal.thanks.length }} Thanks</span>
        {{#if user }}
        <form action="/signals/{{ signal._id }}/thanks" method="post">
            <button>Thanks</button>
        </form>
        {{/if}}
    </div>
    <div class="clear"></div>

    <hr/>

    <div id="map" style="float: right; width: 600px; height: 300px; background: #eee">MAP & MARKER</div>

    <div>
        <img src="{{ signal.image }}" style="background: #eee;" width="390" height="270">
        <div>address: {{ signal.address }}</div>

        <br/>

        <img src="/avatar/{{ signal.author }}" alt="" style="background: #eee;" width="50" height="50" />
        сигнализирано от <a href="{{ url 'user' }}52f4df1a3288e277c803fc49"> author: {{ signal.authorName }}</a>

        <br/>

        <p>DESCRIPTION: {{ signal.description }}</p>

        <br/><br/>

        <form action="/signals/{{ signal._id }}/flag" method="post">
            <input type="text" name="flag_reason" placeholder="reason to flag" />
            <button>Flag</button>
        </form>

        <br/><br/>

        share: facebook, tweeter, g+

        <br/><br/>

        <hr/>

        <b>{{ signal.comments.length }} COMMENT</b>
        <hr/>

        {{#each signal.comments}}
            <div>
                <img src="/avatar/{{ author }}" alt="" style="background: #eee; float: left; margin-right: 10px;" height="50" width="50" />
                <b><a href="/users/{{ author }}"> {{ authorName }} - id: {{ author }} </a></b>
                <p>{{ text }}</p>
                {{ date }} <br/>

                <form action="/signals/{{../signal._id}}/comments/{{_id}}/flag" method="post">
                    <input type="text" name="reason" placeholder="reason to flag" />
                    <button>Flag</button>
                </form>
            </div>
            <div class="clear"></div>
            <br/>
        {{/each}}

        <hr/>

        {{#if user }}
            <br/>
            <b>Add new comment</b>
            <br/>

            <form action="/signals/{{ signal._id }}/comment" method="post">
                <input type="text" value="{{ signal._id }}" name="signal_id" /><br/>
                <textarea name="comment" id="" cols="70" rows="10"></textarea>
                <br/>

                <input type="file" name="photo" />
                Attach: <a href="#">photo</a>
                <br/>

                <b>I want to...</b><br/>
                <label><input type="radio" name="action" value="do-nothing" checked /> Leave this issue Open</label><br/>
                <label><input type="radio" name="action" value="close" /> Close this issue</label>
                <br/><br/>
                <button>Comment</button>
                <br/><br/>
            </form>
        {{else}}
            <b>Login to comment</b>
        {{/if}}
    </div>
</div>