<div class="block">
    <form action="">
        <input type="text" placeholder="търсене по име"/>
        <button>търси</button>
    </form>
</div>

<ul class="block">

    {{#if err }}
    <div>{{ err }}</div>
    {{/if}}

    {{#each users}}
    <li style="width: 25%; float: left; display: block; margin-bottom: 10px">
        <a href="{{ _id }}">
            <img src="#" alt="" style="background: #eee; float: left; margin-right: 10px;" width="50" height="50" />
            {{ name }}
        </a>
    </li>
    {{/each}}
</ul>

<div class="clear"></div>