<div class="block">
    <form action="">
        <input type="text" placeholder="търсене по име"/>
        <button>търси</button>
    </form>
</div>

<ul class="block">
    <li>
        <a href="{{ url 'user' }}52f4df1a3288e277c803fc49">
        <img src="#" alt="" style="background: #eee; float: left; margin-right: 10px;" width="50" height="50" />
        Antoan Popovich
        </a>
    </li>
    <li class="clear"><br/></li>
    <li>
        <a href="{{ url 'user' }}52f4df1a3288e277c803fc49">
            <img src="#" alt="" style="background: #eee; float: left; margin-right: 10px;" width="50" height="50" />
            Antoan Popovich
        </a>
    </li>
</ul>
