{{#if error}}
<div class="error">
    <h2>ERRRRROR</h2>
    <div>{{ error }}</div>
</div>
{{/if}}

{{#if user._id }}
    <img src="/avatar/{{ user._id }}" width="50" height="50" alt=""/>
{{/if}}

<div>
    <b>name: </b>{{ user.name }}
</div>

<div>
    <b>id: </b>{{ user._id }}
</div>

<div>
    <b>email: </b>{{ user.email }}
</div>

<div>
    <b>password: </b>{{ user.password }}
</div>

<div>
    <b>validated: </b>{{ user.validated }}
</div>

<div>
    <b>registerAt: </b>{{ user.registerAt }}
</div>

<div>
    <b>location: </b>{{ user.location }}
</div>




<div class="block">
    <div style="float: left;">
        <img src="#" alt="" width="100" height="100" style="background: #333; float: left; margin-right: 10px" />
        <h1 style="margin-top: 0; padding-top: 0; width: 500px;">Anton Timoshenko <a href="#">Edit</a></h1>

        anton.timoshenko@ceoingoogle.com (private)
        <a href="#">flag</a>
    </div>

    <div style="float: right">
        регистриран на
        <br/>23.01.2013
    </div>

    <div class="clear"></div>
</div>

<hr/>

<h2>ПОСЛЕДНИ 3 СИГНАЛА</h2>
<ul>
    <li>
        <img src="#" width="320" height="180" style="background: #333;" />
        <br/>
        <h3>Road blockage</h3>
        <strong>address goes here</strong>
        <p>
            DESCRIPTION
            No description provided.
        </p>
    </li>
</ul>