{{#if error}}
<div class="error">
    <h2>ERRRRROR</h2>
    <div>{{ error }}</div>
</div>
{{/if}}


<div class="block">
    <div style="float: left;">
        <img src="/avatar/{{ user._id }}" alt="" width="100" height="100" style="background: #333; float: left; margin-right: 10px" />
        <h1 style="margin-top: 0; padding-top: 0; width: 500px;"> {{ user.name }} <a href="#">Edit</a></h1>

        {{ user.email }} (private)

        <form action="/users/{{ user._id }}/flag" method="post">
            <input type="text" name="flag_reason" placeholder="reason to flag" />
            <button>Flag</button>
        </form>

    </div>

    <div style="float: right">
        регистриран на
        <br/>{{ user.registerAt }}
    </div>

    <div class="clear"></div>
</div>

<hr/>

<h2>ПОСЛЕДНИ 3 СИГНАЛА</h2>

<ul>
    {{#each signals}}
    <li>
        <img src="{{ image }}" width="50" height="50" style="float: left; padding-right: 10px">
        <b>{{ type }}</b>
        <br/>
        address: {{ address }}
        <br/>
        location: {{ location }}
        <br/>

        {{ created }}
        status:     {{ status }}
        <br/>
        <a href="/signals/{{ _id }}">повече</a>
    </li>
    {{/each}}
</ul>
