body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

header,
footer {
  padding: 20px;
  background: #fafafa;
  display: block; }

wrapper {
  padding: 40px 30px;
  display: block; }

a {
  color: #00b7ff;
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 3px; }
  a:hover {
    background: #00b7ff;
    color: white; }
  a.button {
    background: #00b7ff;
    color: white; }
    a.button:hover {
      background: #00b7ee; }

label {
  display: block;
  padding: 10px 0; }
  label b {
    display: block; }

.success {
  background: #33dd33;
  color: white;
  display: inline-block;
  padding: 30px 40px; }
  .success h2 {
    margin: 3px 0; }

.error {
  background: #dd6666;
  color: white;
  display: inline-block;
  padding: 30px 40px; }
  .error h2 {
    margin: 3px 0; }
